$primary: #337ab7;
$light-blue: #5FB0E4;
$white: white;
$gray: #dddddd;

body {
  padding-top: 70px;
}

.top-buffer {
  padding-top: 20px;
}

.navbar {
  background-color: #FFF;
  border-color: $light-blue;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 100;
  
  .navbar-brand {
    color: $light-blue;
    font-size: 28px;
    font-weight: bold;
  }
  
  .dropdown-menu {
    padding: 10px 5px;
  }

  .user-name {
    padding: 0 5px;
    box-sizing: border-box;
  }

  a {
    cursor: pointer;
  }
}

.create-ctn {
  padding-top: 20px;

  img {
    width: 100%;
    padding: 20px;
    background-size: contain;
  }

  
  .panel-heading {
    background-color: $light-blue;
    color: $white;
  }

  button {
    margin: 10px 5px 0 5px;
  }

}

// 卡片
.card {
  height: 350px;
  padding: 15px 20px;
  box-sizing: border-box;
  
  .panel {
    height: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .panel-body {
    padding: 0;
  }

  .img-thumbnail {
    width: 100%;
    height: 250px;
    background-position: center bottom;
    background-size: contain;
  }

  .go-detail {
    width: 100%;
    
    .btn {
      position: relative;
      top: -1em;
      font-size: 2em;
      font-weight: bold;
      background-color: pink;
      color: white;
    }
  }
}

.activity-ctn {
  .post-ctn {
    padding: 15px;
    
    img {
      background-size: contain;
      background-position: center center;
      max-height: 350px;
    }

    pre {
      background: transparent;
      border: none;
      text-indent: 2em;
    }
  }
}