<div class="project-ctn" ng-show="Datas">
	<div class="col-md-2 flex-column flex-center">
			<div class="row">
				<img class="logo" ng-src="{{Datas.logoUrl}}" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=" class="img-rounded">
			</div>
 			<div class="row top-buffer">
			<span ng-bind="Datas.teamName"></span>
		</div>
	
		<div class="row top-buffer">
			<!-- Founder -->
			<div class="join-ctn col-md-12 flex-center">
				<span class="item col-md-10 flex-center founder" ng-bind="Datas.founder"></span>
			</div>

			<div class="join-ctn col-md-12 flex-center" ng-repeat="partner in partners track by $index" ng-click="wantJoin($index)" ng-attr-title="{{getTitle(partner.name)}}">
				<span class="item col-md-10 flex-center" ng-class="{join : !partner.uid, remove : partner.uid === user.uid}" ng-bind="partner.name"></span>
			</div>

			<!-- edit -->
			<div class="col-md-12 top-buffer" ng-show="Datas.uid === user.uid">
				<button class="btn btn-success col-md-10 col-md-offset-1" ng-click="goEdit()">Edit</button>
			</div>

		</div>
	</div>

	<div class="col-md-8">
    <ul class="nav nav-tabs">
    	<li class="tab" ng-class="{active: current.name === 'project.profile'}"><a ng-click="goChildState(projectID, 'profile')">Profile</a></li>
    	<li class="tab" ng-class="{active: current.name === 'project.activity'}"><a ng-click="goChildState(projectID, 'activity')">Activity</a></li>
    </ul>

		<ui-view></ui-view>
	</div>
	
</div>
