<div class="panel panel-default">
  <div class="panel-body">
 		<h2 ng-bind="project.projectName"></h2>
		<div>
  		<div>Why start up this project?</div>
  		<div ng-bind="project.first"></div>
  	</div>
  	<div>
  		<div>What is the startup project?</div>
  		<div ng-bind="project.second"></div>
  	</div>
  	<div>
  		<div for="third">What is special about your project?</div>
  		<div ng-bind="project.third"></div>
  	</div>
  	<div>
  		<div>How to reach your potential target user?</div>
  		<div ng-bind="project.fourth"></div>
  	</div>
  </div>
</div>
