<div class="project-question">
	<div class="name" ng-bind="project.projectName"></div>
	<div class="question-block">
		<div class="question">Why start up this project?</div>
		<pre class="answer" ng-bind="project.first"></pre>
	</div>
	<div class="question-block">
		<div class="question">What is the startup project?</div>
		<pre class="answer" ng-bind="project.second"></pre>
	</div>
	<div class="question-block">
		<div class="question">What is special about your project?</div>
		<pre class="answer" ng-bind="project.third"></pre>
	</div>
	<div class="question-block">
		<div class="question">How to reach your potential target user?</div>
		<pre class="answer" ng-bind="project.fourth"></pre>
	</div>
 </div>
