<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/flex.css">
    <link rel="stylesheet" href="css/app.css">

    <title>Project Pitch</title>
  </head>

  <body ng-app="ppApp" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navCtrl">
      <div class="container">
        <div class="nav-header">
          <a class="navbar-brand" href="#/home">Project Pitch</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="user-name" ng-bind="loginTitle"></span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ><!--ng-show="user"-->
                  <button class="btn btn-default btn-block">
                    <a href="#/create">New Project</a>
                  </button>
                </li>
                <li class="divider" ng-show="user"></li>
                <li ng-hide="user">
                  <button class="btn btn-primary btn-block" ng-click="doLogin()">Login By Facebook</button>
                </li>
                <li ng-show="user">
                  <button class="btn btn-danger btn-block" ng-click="doLogout()">logout</button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </nav>

    <div class="container">
      <ui-view></ui-view>
    </div>
    

    <div id="fb-root"></div>
    <!-- Library -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>

    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.js"></script>
    
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '758687494243868',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- component -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/homeCtrl.js"></script>
    <script type="text/javascript" src="js/navCtrl.js"></script>
    <script type="text/javascript" src="js/projectCtrl.js"></script>
    <script type="text/javascript" src="js/createCtrl.js"></script>
  </body>
</html>